* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: #fff;
}
body {
  background-image: url("images/background1.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}
#header {
  width: 100%;
  height: 120vh;
  background-image: url(images/background4.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #c5b2ed;
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after {
  width: 100%;
  background: #a089d5;
  color: #353985;
}

.header-text {
  margin-top: 20%;
  font-size: 20px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
  animation: slideIn 1.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.header-text h1 span {
  color: #c5b2ed;
}

/*---------about---------*/
#about {
  margin-top: 65px;
  padding: 50px 0;
  color: #ababab;
}
#about {
  width: 100%;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.sub-title p {
  padding: 10px;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #c5b2ed;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ad96dc;
  font-size: 14px;
}

.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/*---------domains----*/
#domains {
  padding: 20px 0;
  width: 100%;
  min-height: 100vh;
}

.domains-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.domains-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: backgroound 0.5s, tranform 0.5s;
}

.domains-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.domains-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.domains-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.domains-list div:hover {
  background: #b09ddb;
  transform: translateY(-10px);
}

/*-------Projects---*/

#Projects {
  padding: 5px 0;
  width: 100%;
  min-height: 100vh;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 60px), 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}
.btn {
  transition: background 0.5s;
}

.project {
  height: 220px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.Projects container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  flex: 0 0 calc(30% - 20px);
  margin-bottom: 20px;
}
.project img {
  margin: auto;
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #b09ddb);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #b09ddb;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #b09ddb;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: backgroound 0.5s;
}
.button-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  margin: 0 10px;
}
.btn:hover {
  background: #c5b2ed;
}

/*----------contact-------*/
#contact {
  width: 100%;
  min-wheight: 100vh;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #b09ddb;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #b09ddb;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #a089d5;
  cursor: pointer;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #161729;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #161729;
  font-weight: 300;
  margin-top: 20px;
}

.copyright i {
  color: #c5b2ed;
}

/*--------css for small screen----*/
nav .fa-bars,
nav .fa-xmark {
  display: none;
}
@media only screen and (min-width: 600px) and (max-width: 820px) {
  .logo {
    width: 60px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
  }

  nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #c5b2ed;
    position: absolute;
    left: 0;
    bottom: -6px;
  }
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(50%, 2fr));
  }
  nav ul li a:hover::after {
    width: 100%;
    background: #a089d5;
    color: #353985;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("images/background1.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  #header {
    background-image: url(images/backgroundPhone.png);
    height: 100vh;
  }
  .logo {
    width: 50px;
  }
  .header-text {
    margin-top: 50%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-bars,
  nav .fa-xmark {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #c5b2ed;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    padding-bottom: 10px;
    font-size: 30px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
  }
  #domains {
    padding: 30px 0;
  }
  .about-col-1 img {
    width: 70%;
    border-radius: 15px;
  }
  .tab-titles {
    margin: 20px 0 20px;
  }
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
  color: #fff;
}
body {
  background-image: url("images/background1.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}
#header {
  width: 100%;
  height: 120vh;
  background-image: url(images/background4.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #c5b2ed;
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after {
  width: 100%;
  background: #a089d5;
  color: #353985;
}

.header-text {
  margin-top: 20%;
  font-size: 20px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
  animation: slideIn 1.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.header-text h1 span {
  color: #c5b2ed;
}

/*---------about---------*/
#about {
  margin-top: 65px;
  padding: 50px 0;
  color: #ababab;
}
#about {
  width: 100%;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.sub-title p {
  padding: 10px;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #c5b2ed;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ad96dc;
  font-size: 14px;
}

.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/*---------domains----*/
#domains {
  padding: 20px 0;
  width: 100%;
  min-height: 100vh;
}

.domains-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.domains-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: backgroound 0.5s, tranform 0.5s;
}

.domains-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.domains-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.domains-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.domains-list div:hover {
  background: #b09ddb;
  transform: translateY(-10px);
}

/*-------Projects---*/

#Projects {
  padding: 5px 0;
  width: 100%;
  min-height: 100vh;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 60px), 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}
.btn {
  transition: background 0.5s;
}

.project {
  height: 220px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.Projects container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  flex: 0 0 calc(30% - 20px);
  margin-bottom: 20px;
}
.project img {
  margin: auto;
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #b09ddb);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #b09ddb;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #b09ddb;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: backgroound 0.5s;
}
.button-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  margin: 0 10px;
}
.btn:hover {
  background: #c5b2ed;
}

/*----------contact-------*/
#contact {
  width: 100%;
  min-wheight: 100vh;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #b09ddb;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #b09ddb;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #a089d5;
  cursor: pointer;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #161729;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #161729;
  font-weight: 300;
  margin-top: 20px;
}

.copyright i {
  color: #c5b2ed;
}

/*--------css for small screen----*/
nav .fa-bars,
nav .fa-xmark {
  display: none;
}
@media only screen and (min-width: 600px) and (max-width: 820px) {
  .logo {
    width: 60px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
  }

  nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #c5b2ed;
    position: absolute;
    left: 0;
    bottom: -6px;
  }

  nav ul li a:hover::after {
    width: 100%;
    background: #a089d5;
    color: #353985;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("images/background1.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  #header {
    background-image: url(images/backgroundPhone.png);
    height: 100vh;
  }
  .logo {
    width: 50px;
  }
  .header-text {
    margin-top: 50%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-bars,
  nav .fa-xmark {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #c5b2ed;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    padding-bottom: 10px;
    font-size: 30px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
  }
  #domains {
    padding: 30px 0;
  }
  .about-col-1 img {
    width: 70%;
    border-radius: 15px;
  }
  .tab-titles {
    margin: 20px 0 20px;
  }
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
